# Paystack Keys
PAYSTACK_SECRET_KEY=sk_live_YOUR_PAYSTACK_SECRET_KEY
PAYSTACK_PUBLIC_KEY=pk_live_YOUR_PAYSTACK_PUBLIC_KEY

# Web3Forms
WEB3FORMS_ACCESS_KEY=YOUR_WEB3FORMS_ACCESS_KEY

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
